@model Trend.LedLead

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LedLead</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeadSerial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadSerial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewOfficeSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewOfficeSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewOfficeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewOfficeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedBudget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedBudget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadAssignedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadAssignedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_CreatorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_CreatorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefBroker.BrokerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefBroker.BrokerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefClient.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefClient.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefCompany.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefCompany.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefContact.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefContact.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefModuleStatu.ModuleStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefModuleStatu.ModuleStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HREmployee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HREmployee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HREmployee1.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HREmployee1.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LedLeadSource.LeadSourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LedLeadSource.LeadSourceName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
