@model IEnumerable<Trend.DefClient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Industry)
        </th>
        <!--
            <th>
               @Html.DisplayNameFor(model => model.FK_CreatorID)
           </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Industry)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.FK_CreatorID)
            </td>
            -->
            <td>
                <!--@Convert.ToDateTime(item.CreationDate).ToString("dd/MM/yyyy") Works too-->
                @DateTime.Parse(Html.DisplayFor(modelItem => item.CreationDate).ToString()).ToShortDateString()
            </td>
            <td>
                @DateTime.Parse(Html.DisplayFor(modelItem => item.LastModifiedDate).ToString()).ToShortDateString()
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                <!--  @Html.ActionLink("Delete", "Delete", new { id = item.ID }) -->
            </td>
        </tr>
    }

</table>
