@model IEnumerable<Trend.DefBroker>

@{
    ViewBag.Title = "Brokers";
}

<h2>Brokers</h2>

<p>
    @Html.ActionLink("Add Broker", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrokerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Industry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrokerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Industry)
        </td>
        <td>
            @DateTime.Parse(Html.DisplayFor(modelItem => item.CreationDate).ToString()).ToShortDateString()
            <!--@Html.DisplayFor(modelItem => item.CreationDate)-->
        </td>
        <td>
            @DateTime.Parse(Html.DisplayFor(modelItem => item.LastModifiedDate).ToString()).ToShortDateString()
            <!--@Html.DisplayFor(modelItem => item.LastModifiedDate)-->
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) <!--|
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })-->
        </td>
    </tr>
}

</table>
